---
const title = 'Lux Personal OS';
---
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <h1>{title}</h1>
  </body>
</html>
